{% extends "base_generic.html" %}

{% block title %}<title>Библиотечные книги</title>{% endblock %}

{% block content %}
<h1>Главная страница</h1>

  <p>Добро пожаловать на сайт нашей <em>Библиотеки</em></p>

<h2>Книги в нашей библиотеке</h2>

  <p>Немного про наши запасы книг:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Число экземпляров:</strong> {{ num_instances }}</li>
    <li><strong>Доступно к выдаче:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
    <li><strong>Статистика по жанрам:</strong> {{ num_genres }}</li>
    <li><strong>Если любите приключения, то таких книг у нас:</strong> {{ title_word }}</li>
  </ul>

  <p>
    Вы были на этой странице {{ num_visits }} раз
  </p>

{% endblock %}