{% extends "base_generic.html" %}

{% block content %}

    {% if perms.catalog.can_mark_returned %}
      <h1>Книги на руках у читателей</h1>
      <ol>
        {% for book in borrowed %}
          <li>
            <ul>
              <li><b>Название: </b><a href="{{ book.book.get_absolute_url }}">{{book.book.title}}</a></li>
              <li><b>Взял: </b>{{book.borrower}}</li>
              <li><b>Вернуть до: </b><a href="{% url 'book_renew_librarian' book.pk %}">{{book.due_back}}</a></li>
            </ul>
            <br>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

{% endblock %}
